In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.__version__

'0.14.1'

In [2]:
%matplotlib inline

In [3]:
tally=pd.read_csv("./data/tally.csv")
tally['total'] = tally.sum(axis=1)

# Scoreboard

In [4]:
tally.sort(columns='total', ascending=[0])

        Name   title   url   bonus-1   week2-url   week3   week4   total
3        Jay       5     5        10           0      10        0     30
2     Steven       5     5         0          10       0        0     20
9       Emma       0     0         0           0      20        0     20
12       Mac       0     0         0           0      20        0     20
1       Jake       5     5         0           0       0        0     10
8     Claire       0     0         0          10       0        0     10
0        Sam       0     0         0           0       0        0      0
4       Lisa       0     0         0           0       0        0      0
5     Hannah       0     0         0           0       0        0      0
6   Jonathan       0     0         0           0       0        0      0
7      Grace       0     0         0           0       0        0      0
10     Brent       0     0         0           0       0        0      0
11     Katie       0     0         0           0       0        0      0

In [5]:
# tally.describe()